doctype html
html
  head
    meta(charset="UTF-8")
  body(style="font-family: Arial; background:#f4f4f4; padding:20px;")
    .container(style="max-width:600px; margin:auto; background:#fff; padding:20px; border-radius:10px;")
      
      h2 #{subject}

      block content

      hr
      p(style="font-size:12px; color:#999;")
        | © 2026 Your App. All rights reserved.